@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: content-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.card {
  width: 450px;
  border-radius: 20px;
  background-color: #fff;
}
.card-header-img img {
  border-radius: 20px 20px 0 0;
}
.card-body {
  padding: 0 60px;
  text-align: center;
}
.card-body h2 {
  font-weight: 900;
}
.text-hint {
  font-weight: 400;
  color: hsl(224, 23%, 55%);
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 10px;
  background-color: hsl(225, 100%, 98%);
}
.prdBox {
  display: flex;
}
.prdDetail {
  margin-left: 15px;
}
.prdDetail .prdTitle {
  font-weight: 700;
}
.prdDetail .prdPrice {
  font-weight: 400;
  color: hsl(224, 23%, 55%)
}
.btnChange {
  border: none;
  background-color: transparent;
  color: hsl(245, 75%, 52%);
  cursor: pointer;
}
.btnChange:hover {
  color: hsl(245, 79%, 71%);
}
.btnGroup {
  margin-top: 30px;
  margin-bottom: 20px;
}
.btnSubmit {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  cursor: pointer;
}
.btnSubmit:hover {
  background-color: hsl(245, 79%, 71%);
}
.btnCancel {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.btnCancel:hover {
  color: hsl(223, 47%, 23%);
}


/* media queries */
@media (min-width: 375px) {
  .container {
    background-image: url('/images/pattern-background-desktop.svg');
  }
}

.Paleblue {
  color: hsl(225, 100%, 94%);
}
.Brightblue {
  color: hsl(245, 75%, 52%);
}
.Verypaleblue {
  color: hsl(225, 100%, 98%);
}
.DesaturatedBlue {
  color: hsl(224, 23%, 55%);
}
.DarkBlue {
  color: hsl(223, 47%, 23%);
}